img {
  border-radius: 30px;
  box-shadow: 8px 8px 0px #aaa;
}

body{
  border-radius: 30px;
  background:"https://lh3.googleusercontent.com/proxy/8boBokhfmPH-pVCcvRjeSG879mB3S8jGutplA-jAWcLRY82fLj3gYzN5eXasAKef7Vm-Q1SKP-8NW2s02U5Yh26h6iJQRFqHmuXudW61Uk4YK73FIwuBzUHz";
}